body {
    margin: 0;
    background: url("../img/pattern.png");
}
.card {
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color: #166a7d;
}

.card-text {
    font-size: 14px;
}

.sub {
    font-size: 18px;
    color: darkgreen;
}

.card-list {
    padding-left: 0;
    list-style-position:inside;
    font-size: 14px;
}
